.centro{
    position: absolute;
    top: 150px;
    left: 400px;
    width: 45%;
    height: 45%;
    flex: 2;
    display: flex;
    margin: 5rem;
    justify-content: space-evenly;
    flex-direction: column;
    margin-top: -70px;
    z-index: 6;
    background-color: aliceblue;
}