.principe{
    background: linear-gradient(to right top, #000000, #808080);
    height: 100vh;
}

h1{
    color: #426696;
    font-weight: 600;
    font-size: 3rem;
    opacity: 0.8;
}

h2,p{
    color: #658ec6;
    font-weight: 600;
    opacity: 0.8;
}

h3{
    color: #426696;
    font-weight: 600;
    opacity: 0.8;
}
    
.center{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    width: 250px;
    background: rgba(255,255,255);
}
    
.center h1{
    text-align:center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid silver;	
}
    
.center form{
    padding: 0 40px;
    box-sizing: border-box;
}
    
form .txtCampo{
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
}
    
.txtCampo input{
    width:100%;
    padding: 0 5px;
    height:40px;
    font-size:16px;
    border:none;
    background:none;
    outline:none;
}
    
.txtCampo label{
        position: absolute;
        top:50%;
        left:5px;
        color:#adadad;
        transform: translatey(-50%);
        font-size:16px;
        pointer-events:none;
        transition: .5s;
}
        
.txtCampo span::before{
        content:'';
        position:absolute;
        top:40px;
        left:0;
        width:0%;
        height:2px;
        background: #72b8e4;
        transition: .5s;
}

.txtCampo input:focus~label,
.txtCampo input:valid ~label
{
    top: -5px;
    color: #72b8e4;
}

.txtCampo input:focus:invalid~label{
    color: red;
}

.txtCampo input:focus~span::before,
.txtCampo input:focus:valid ~span::before
{
    width: 100%;
}

.txtCampo input:required ~label::before{
    content: '*';
}

.esquecer{
    margin: 20px 0px 20px 5px;
    cursor: pointer;
}

.btn{
    width: 100%;
}
    
.danger{
    color: red;
}